<md-toolbar scroll ng-controller="HeaderController">
        <div class="md-toolbar-tools">
            
            <h2>
          <a ui-sref="home" >Planning Poker</a>
        </h2>
            <md-button class="md-raised md-accent" ui-sref="games.create" ui-sref-active="active" ng-show="authentication.user">
                New Game
            </md-button>
            <span flex></span>
            <md-button ui-sref="authentication.signup" ui-sref-active="active" ng-hide="authentication.user">
                Sign up
            </md-button>
            <md-button class="md-raised" ui-sref="authentication.signin" ui-sref-active="active" ng-hide="authentication.user">
                Sign in
            </md-button>

            <md-menu md-offset="0 60" md-position-mode="target-right target" ng-show="authentication.user">
          <md-button aria-label="Open demo menu" ng-click="$mdOpenMenu($event)">
            <img ng-src="{{authentication.user.profileImageURL}}" alt="{{authentication.user.displayName}}" class="header-profile-image" />
          <span ng-bind="authentication.user.displayName"></span>
            <md-icon><i class="material-icons">arrow_drop_down</i></md-icon>
            </md-button>
          <md-menu-content>
            
            <md-menu-item ui-sref-active="active">
              <md-button ui-sref="settings.profile">
                <md-icon><i class="material-icons">account_circle</i></md-icon>
                  Edit Profile
              </md-button> 
            </md-menu-item>
            <md-divider></md-divider>
            <md-menu-item ui-sref-active="active">
              <md-button href="/api/auth/signout" target="_self" class="md-warn">
                <md-icon><i class="material-icons">exit_to_app</i></md-icon>
                  Signout
              </md-button> 
            </md-menu-item>

          </md-menu-content>
        </md-menu>


        </div>
    </md-toolbar>