<section>
  <div class="page-header">
    <h1>{{vm.ustory._id ? 'Edit Ustory' : 'New Ustory'}}</h1>
  </div>
  <div class="col-md-12">
    <form name="vm.form.ustoryForm" class="form-horizontal" ng-submit="vm.save(vm.form.ustoryForm.$valid)" novalidate>
      <fieldset>
        <div class="form-group" show-errors>
          <label class="control-label" for="name">Name</label>
          <input name="name" type="text" ng-model="vm.ustory.name" id="name" class="form-control" placeholder="Name" required>
          <div ng-messages="vm.form.ustoryForm.name.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Ustory name is required.</p>
          </div>
          <label class="control-label" for="name">Description</label>
          <input name="description" type="text" ng-model="vm.ustory.description" id="description" class="form-control" placeholder="Description" required>
          <div ng-messages="vm.form.ustoryForm.description.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Ustory description is required.</p>
          </div>
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-default">{{vm.ustory._id ? 'Update' : 'Create'}}</button>
        </div>
        <div ng-show="vm.error" class="text-danger">
          <strong ng-bind="vm.error"></strong>
        </div>
      </fieldset>
    </form>
  </div>
</section>
