<section>
  <div class="page-header">
    <h1>Ustories</h1>
  </div>
  <div class="list-group">
    <a data-ng-repeat="ustory in vm.ustories"
       data-ui-sref="ustories.view({ ustoryId: ustory._id })"
       class="list-group-item">
      <small class="list-group-item-text">
        <p data-ng-bind="ustory.description"></p>
        Posted on
        <span data-ng-bind="ustory.created | date:'mediumDate'"></span>
        by
        <span data-ng-if="ustory.user" data-ng-bind="ustory.user.displayName"></span>
        <span data-ng-if="!ustory.user">Deleted User</span>
      </small>
      <h4 class="list-group-item-heading" data-ng-bind="ustory.name"></h4>
    </a>
  </div>
  <div class="alert alert-warning text-center" data-ng-if="vm.ustories.$resolved && !vm.ustories.length">
    No Ustories yet, why don't you <a data-ui-sref="ustories.create">create one</a>?
  </div>
</section>
