<section>
  <div class="page-header">
    <h1>{{vm.game._id ? 'Edit Game' : 'New Game'}}</h1>
  </div>
  <div>
    <form name="vm.form.gameForm"ng-submit="vm.save(vm.form.gameForm.$valid)">
      
        <md-input-container>
        <label>Name</label>
        <input required name="name" type="text" ng-model="vm.game.name" id="name">
        
      </md-input-container>
      <br>
        <label>Players:</label>
        <md-chips ng-model="players"></md-chips>
        <br>
        <div>
          <md-button class="md-raised md-accent" type="submit">{{vm.game._id ? 'Update' : 'Create'}}</md-button>
        </div>
        <div ng-show="vm.error" class="text-danger">
          <strong ng-bind="vm.error"></strong>
        </div>
      </fieldset>
    </form>
  </div>
</section>