<section>
    <br>
    <br>
    <h2>Game for <span data-ng-bind="vm.game.name"></span></h2>

    <h3>User Story: <span data-ng-bind="vm.game.ustories[actual].name"></h3>
    <p>Description: <span data-ng-bind="vm.game.ustories[actual].description"></p>

<div layout="row" layout-padding layout-wrap layout-fill>

  <md-whiteframe class="card md-whiteframe-5dp" flex="nogrow" layout layout-align="center center" ng-repeat="item in cards" ng-class="{'selected md-whiteframe-10dp' : item.selected}" ng-click="selectItem(item)">
    <h1 class="noselect">{{item.display}}</h1>
  </md-whiteframe>

 </div>

 <div>
          <md-button class="md-raised md-accent" ng-hide="ustories[actual+1]==ustories.lenght" ng-disabled="!selectedCard" ng-click="nextUstory()">Next</md-button>
          <md-button class="md-raised md-accent" ng-show="ustories[actual+1]==ustories.lenght" ng-disabled="!selectedCard" ng-click="finish()" ui-sref="games.view({ gameId: vm.game._id })">Finish</md-button>
        </div>
<p data-ng-bind="allPlayers"></p>

</section>



<script src="/socket.io/socket.io.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js"></script>
<script>
	var socket = io.connect('http://localhost:3000/games');

	// on connection to server, ask for user's name with an anonymous callback
	socket.on('connect', function(){
		// call the server-side function 'adduser' and send one parameter (value of prompt)
		socket.emit('adduser', prompt("What's your name?"));
	});

	// listener, whenever the server emits 'updatechat', this updates the chat body
	socket.on('updatechat', function (username, data) {
		$('#conversation').append('<b>'+username + ':</b> ' + data + '<br>');
	});

	// listener, whenever the server emits 'updaterooms', this updates the room the client is in
	socket.on('updaterooms', function(rooms, current_room) {
		$('#rooms').empty();
		$.each(rooms, function(key, value) {
			if(value == current_room){
				$('#rooms').append('<div>' + value + '</div>');
			}
			else {
				$('#rooms').append('<div><a href="#" onclick="switchRoom(\''+value+'\')">' + value + '</a></div>');
			}
		});
	});

	function switchRoom(room){
		socket.emit('switchRoom', room);
	}

	// on load of page
	$(function(){
		// when the client clicks SEND
		$('#datasend').click( function() {
			var message = $('#data').val();
			$('#data').val('');
			// tell server to execute 'sendchat' and send along one parameter
			socket.emit('sendchat', message);
		});

		// when the client hits ENTER on their keyboard
		$('#data').keypress(function(e) {
			if(e.which == 13) {
				$(this).blur();
				$('#datasend').focus().click();
			}
		});
	});

</script>
<div style="float:left;width:100px;border-right:1px solid black;height:300px;padding:10px;overflow:scroll-y;">
	<b>ROOMS</b>
	<div id="rooms"></div>
</div>
<div style="float:left;width:300px;height:250px;overflow:scroll-y;padding:10px;">
	<div id="conversation"></div>
	<input id="data" style="width:200px;" />
	<input type="button" id="datasend" value="send" />
</div>
