<section>
<br>
<br>
  <h2>Game for <span data-ng-bind="vm.game.name"></span></h2>

  <h3>User Story: <span data-ng-bind="vm.game.ustories[actual].name"></h3>
  <p>Description: <span data-ng-bind="vm.game.ustories[actual].description"></p>

<div layout="row" layout-padding layout-wrap layout-fill>

  <md-whiteframe class="card md-whiteframe-5dp" flex="nogrow" layout layout-align="center center" ng-repeat="item in cards" ng-class="{'selected md-whiteframe-10dp' : item.selected}" ng-click="selectItem(item)">
    <h1 class="noselect">{{item.display}}</h1>
  </md-whiteframe>

 </div>

 <div>
          <md-button class="md-raised md-accent" ng-hide="ustories[actual+1]==ustories.lenght" ng-disabled="!selectedCard" ng-click="nextUstory()">Next</md-button>
          <md-button class="md-raised md-accent" ng-show="ustories[actual+1]==ustories.lenght" ng-disabled="!selectedCard" ng-click="finish()" ui-sref="games.view({ gameId: vm.game._id })">Finish</md-button>
        </div>

 </section>